//New code:

.background {
    background-color: #51A3BC; /* Set the background color to blue */
    min-height: 180vh; //#007bff* Ensure the background covers the entire viewport height */
    padding: 30px 90px; /* Add padding to the sides */
    position: relative;
    
  
  }
  
  
  form {
    background-color: #51A3BC; /* Set the form background color to white */
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a shadow effect */
    max-width: 1000px; /* Set maximum width for the form */
    width: 100%; /* Ensure the form takes the available width */
    border: 3px solid white;
    margin: 0 auto; /* Center the form horizontally */
  }
  
  .form-group {
    margin-bottom: 20px;
  
    label {
      font-weight: bold;
      color: #000000; 
      font-size: 20px;
    }
  
    input[type="text"],
    input[type="email"],
    input[type="password"],
    select,
    input[type="date"] {
      width: 100%;
      padding: 10px;
      border: 2px solid black;
      border-radius: 7px;
      box-sizing: border-box;
      background-color: white; /* Set input background color to white */
    }
  }
  
  button {
    padding: 10px 20px;
    background-color: white;
    color: black;
    font-size: 17px;
    font-weight: bold;
    border: 2px solid  black;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    margin: 0 auto; /* Center the button horizontally */
  }
  
  button:hover {
    background-color: #51A3BC;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  } 
  
  /*NeuCipher Med Portal Name*/
.webapp-name {
    position: absolute; /* Set position to absolute */
    bottom: 0; /* Position at the bottom */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    font-size: 25px;
    margin-top: 0;
    color: #066EA8;
    padding-bottom: 5px; 
    font-family: 'Inter', sans-serif;/* Adjust padding as needed */
  }
  .n, .c, .m, .p{
    color: #066EA8;
    font-size: 35px;
    font-family: 'Inter', sans-serif;
  }
  
  /*Background of the Navigation Bar*/
  .navbar {
        position: fixed; /* Fixed position to keep it at the top */
        top: 0; /* Position at the top */
        left: 15px;
        right: 20px;
        width:100%;
        height: 80px;
        background-color: #f8f6f0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px; /* Adjusted padding */
        
    
  }
  
  /*Image on the Navbar*/
  .navbar-logo {
    max-height: 100%;
    margin-left: 2px; /* Adjust the margin as needed to position the image */
  }
  
