<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NeuCipher Med Portal</title>
  <!-- Link to your CSS file -->
  <link rel="stylesheet" type="app/css" href="app.component.scss">
</head>
<body>
  <nav class="navbar">
    <img src="assets/Image4.png" alt="Logo" class="navbar-logo"> 
    <h1 class="webapp-name">
      <span class="n">N</span>eu<span class="c">C</span>ipher <span class="m">M</span>ed <span class="p">P</span>ortal
  </h1>
      <div class="right-section" *ngIf="isHomePage">
       <!-- <div class="signup-bar">
          <a routerLink="/signup" class="signup">SIGN UP</a>
        </div> -->

        <div class="navigation-bar signup-bar">
          <a routerLink="/" class="navigation-link">SIGN UP</a>
          <div class="hover-content">
            <a routerLink="/signupdoctor">Doctor</a>
            <a routerLink="/signup">Patient</a>
          </div>
        </div>

        <!-- <div class="login-bar">
          <a routerLink="/login" class="login">LOGIN</a>
        </div> -->

        <div class="navigation-bar login-bar">
          <a routerLink="/" class="navigation-link">LOGIN</a>
          <div class="hover-content">
            <a routerLink="/logindoctor">Doctor</a>
            <a routerLink="/login">Patient</a>
          </div>
        </div>
    </div>
  </nav>
<img src="assets/BackgroundImage1.png" alt="Background Medical Application" class="Firstimage">
<img src="assets/BackgroundImage2.png" alt="Background Medical kit" class="Secondimage">
<img src="assets/BackgroundImage3.png" alt="BottomLeft Image" class="Thirdimage">
<router-outlet></router-outlet>
</body>

<!--Commented-->
<!-- <nav class="navbar" (click)="toggleNavbarMenu()">
  <div class="navbar-toggle" id="navbarToggle">
    <div class="toggle-line"></div>
    <div class="toggle-line"></div>
    <div class="toggle-line"></div>
  </div>
  <ul class="navbar-menu" id="navbarMenu">
    <li><a routerLink="/signup">Sign Up</a></li>
    <li><a routerLink="/login">Login</a></li>
  </ul>
</nav>

<router-outlet></router-outlet> -->



