/*NeuCipher Med Portal Name*/
.webapp-name {
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  transform: translateX(-50%); 
  font-size: 25px;
  margin-top: 0;
  color: #066EA8;
  padding-bottom: 5px; 
  font-family: 'Inter', sans-serif;
}
.n, .c, .m, .p{
  color: #066EA8;
  font-size: 35px;
  font-family: 'Inter', sans-serif;
}

/*Background of the Navigation Bar*/
.navbar {
  position: relative;
  width: auto; /* Adjust as needed */
  height: 80px; 
  background-color: #F8F6F0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

/*Image on the Navbar*/
.navbar-logo {
  max-height: 100%;
  margin-left: 2px;
}

/*Code for the Signup and Login bar*/
.navbar-menu {
  position: absolute;
  right: 20px; 
}

.navigation-link {
  text-decoration: none;
  color: #F8F6F0;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.navigation-link:hover {
  text-decoration: underline;
}

.signup-bar, .login-bar {
  background-color:  #51A3BC;
  border-radius: 20px;
  padding: 3px 15px;
  position: relative;
 
}

.logout-button{
  background-color:  #51A3BC;
  border-radius: 20px;
  padding: 3px 15px;
  position: relative;
}

.signup-bar {
  margin-right: 10px; 
}

.login-bar {
  margin-right: 10px;
  margin-top: 20px;
   /* Adjust spacing between bars */
}

.signup-bar a, .login-bar a {
  text-decoration: none;
  color: #F8F6F0;/* Text color */
  text-align: center;
  font-family: 'Inter', sans-serif;
}

/*Code for the Background Image*/
body {
  position: relative; 
  background-color: #51A3BC;
  background-position: center;
  background-attachment: fixed; 
  width: 100%;
  height: calc(100% - 80px);
}

.Firstimage {
  position: absolute;
  top: 200px;
  left: 10px; 
  width: 750px; 
  height: 170px; 
}

.Secondimage {
  position: absolute;
  top: 600px;
  right: 40px; 
  width: 700px; 
  height: 170px; 
}

.Thirdimage {
  position: absolute;
  top: 1000px;
  left: 10px; 
  width: 750px; 
  height: 170px; 
}



.signup-bar a:hover, .login-bar a:hover {
  text-decoration: underline;
  font-family: 'Inter', sans-serif;
  color: 000000 
}


.hover-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF; 
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  left: 0; 
  top: 100%; 
  left: 50%; 
  transform: translateX(-100%); 
  white-space: nowrap; 
  border-radius: 10px; 
  border: 3px solid black;
}


.signup-bar:hover .hover-content, .login-bar:hover .hover-content {
  display: block;
}

.hover-content a {
  color: #000000; 
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.hover-content a:hover {
  background-color: #ddd;
}
