<!-- home.component.html -->

<!-- <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Web Application</title>
    <!-- Link to your CSS file -->
   <!--  <link rel="stylesheet" type="home/css" href="home.component.scss">
</head>  -->
<body>
    <div class="container">
    <header>
        <div class="header-content">
            <div class="welcome-text">
                <h1>Step into our <span class="neucipher">NeuCipher</span> Medical <br> Your path to Personalized care</h1>
                <img src="assets/Image1.png" alt="Small Image">
              
            </div>  

         <div class="feature1">
                <div class="welcome-message">
                    <h1> <span>Feeling uncertain about your health?</span> <br> Let our app bridge the gap, connecting you with your doctor for timely support and peace of mind</h1>            
                <img src="assets/Image2.png" alt="Small Image1">
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="features">
            <div class="home-details">
                    <h1><span>Unlock the Power of Instant care?</span> <br> Our Med App connects you directly with your doctors,ensuring timely assistance and seamless communication whenever you need it</h1>
                    <img src="assets/Image3.png" alt="Small Image3">
            </div>
        </section>
        
    </main>


    <footer>
        <p>&copy; 2024 Medical Application. All rights reserved.</p>
    </footer>
</div>
</body>
