<body>
  <div class="dashboard-container">
  <h1 class="dashboard-heading">Welcome Doctor , {{ doctorDetails.name }}</h1>
    <div class="doctor-details">
      <div class="doctor-details-content">
        <div class="doctor-details-item">
          <span class="doctor-details-label">Name:</span>
          <span class="doctor-details-value">{{ doctorDetails.name }}</span>
        </div>
        <div class="doctor-details-item">
          <span class="doctor-details-label">Email:</span>
          <span class="doctor-details-value">{{ doctorDetails.email }}</span>
        </div> 
        <div class="doctor-details-item">
          <span class="doctor-details-label">Gender:</span>
          <span class="doctor-details-value">{{ doctorDetails.gender }}</span>
        </div>
        <div class="doctor-details-item">
          <span class="doctor-details-label">Specialty:</span>
          <span class="doctor-details-value">{{ doctorDetails.specialty }}</span>
        </div>
        <div class="doctor-details-item">
          <span class="doctor-details-label">Contact Number:</span>
          <span class="doctor-details-value">{{ doctorDetails.contactNumber }}</span>
        </div>
        <div class="doctor-details-item">
          <span class="doctor-details-label">Medical License Number:</span>
          <span class="doctor-details-value">{{ doctorDetails.ml }}</span>
        </div>
      </div>
  </div>
  </div>
</body>